@font-face {
    src: url("../font/QuiteMagical.ttf");
}



/*login page*/
#loginPane {
    -fx-background-image: url("/images/rainbow_background.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1080 640;
}

#createUserButton{
    -fx-font-family: 'Quite Magical';
    -fx-background-color: #33313b;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
    -fx-border-color: #33313b;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-background-radius: 22;
}

#createUserButton:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #33313b;
    -fx-text-fill: #33313b;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-background-radius: 22;
    -fx-rotate: 10;
}

#deleteUserButton {
    -fx-font-family: 'Quite Magical';
    -fx-background-color: #8f1537;
    -fx-font-size: 17px;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#deleteUserButton:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #8f1537;
    -fx-text-fill: #8f1537;
    -fx-border-radius: 10;
}

.table-row-cell:selected{
    -fx-background-color: #2AC3E8;
}

.table-row-cell:hover{
    -fx-background-color: #2AC3E8;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #006BA5;
    -fx-font-size: 32px;
}

#usernameCol {
    -fx-font-family: 'Quite Magical';
    -fx-font-size: 27px;
    -fx-alignment: center;
    -fx-text-fill: #5768E4;
}

#highScoreButton {
    -fx-background-color: red;
}

#highScoreButton:hover{

    -fx-background-color:#64EE64;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-alignment: center;
}

#createUserButton {
}

#loginButton {
    -fx-font-family: 'Quite Magical';
    -fx-font-weight: bold;
    -fx-background-color: #ff78ae;
    -fx-background-radius: 22;
    -fx-font-size: 27;
    -fx-text-fill: #ffffff;
}

#loginButton:hover {
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-font-size: 27;
    -fx-text-fill: #ff78ae;
    -fx-border-color: #ff78ae;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

#loginButton:pressed {
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-font-size: 27;
    -fx-text-fill: #ff78ae;
    -fx-border-color: #ff78ae;
    -fx-border-radius: 20;
    -fx-border-width: 3;
    -fx-rotate: 5;
}

